################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/HolidaySearchKata/.vs/*
/HolidaySearchKata/HolidaySearchKata/bin/*
/HolidaySearchKata/HolidaySearchKata/obj/*
 
/HolidaySearchKata/*.user
